body{
  padding: 0;
  margin:0;

}
.menu_amburguesa{
  width: 20px;
padding-top: 7px;
padding-left: 35px;
}

.menu_raya{
border-bottom: solid 2px black;
margin-bottom: 3px;
}
.header_contenido{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px;
  border-color: #e6e6e6;
  align-items: center;
}


.header_iconos{
  display: flex;
  width: 100%;
}
.header_listado{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
      padding-left: 0px;
  padding-left: 26px;
}

.header_imagen{
  width: 102px;
  margin-right: 60px;
  
}
.icono_uno{
  margin-right: 35px;
}
.icono_dos{
  font-size: 27px;
}
.imagen{
   max-width: 100%
}
.microsoft_titulo{
  text-align: center;

}
.microsoft_parrafo{
text-align: center;
}
.microsoft_linck {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.microsoft_border {
  border: solid 2px
darkgoldenrod;
margin-bottom: 10px;
}

@media (min-width: 768px){  
  .header_listado{
    list-style: none;
display: flex;
align-items: center;
padding: 0px;
    padding-left: 0px;
padding-left: 0px;
padding-left: 26px;
width: 100%;
justify-content: space-between;
padding-right:10px;
  }

}

@media (min-width:992px) {  

 

 }