body{
  padding: 0;
  margin:0;

}
.menu_amburguesa{
  width: 20px;
padding-top: 7px;
padding-left: 35px;
}

.menu_raya{
border-bottom: solid 2px black;
margin-bottom: 3px;
}
.header_contenido{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px;
  border-color: #e6e6e6;
  align-items: center;
}


.header_iconos{
  display: flex;
  width: 100%;
}
.header_listado{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0px;
      padding-left: 0px;
  padding-left: 26px;
}

.header_imagen{
  width: 102px;
  margin-right: 60px;
  
}
.icono_uno{
  margin-right: 35px;
}
.icono_dos{
  font-size: 27px;
}
.imagen{
   max-width: 100%
}
.microsoft_titulo{
  text-align: center;

}
.microsoft_hogar{
  border: solid 2px
  #d83b01;
padding: 5px 50px 5px 50px;
text-decoration: none;
background-color: #d83b01;
color:white;
}
.microsoft_empresa{
  border: solid 2px
  #d83b01;
padding: 5px 36px 5px 35px;
text-decoration: none;
background-color: #d83b01;
color:white;
}
.microsoft_parrafo{
text-align: center;

}
.microsoft_linck {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.microsoft_border {
  margin-bottom: 31px;
}
.imagen_dos{
  max-width: 100%;
}
.microsoft_parrafo-principal{
  padding-top: 20px;
  padding-bottom: 20px;

}
.microsoft_que-es-oficce{
  padding: 20px;
  padding-top:80px;
}
.microsoft_parrafo_imagen{
  background-color: #f1eded;
}
.microsoft_informacion{
  text-align: center;
padding-top: 80px;

}
.microsoft_informacion_div{
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding-top: 60px;
}
.microsoft_informacion_link{
  color: #0067b8;
}


.footer_listado_ul{
  display: flex;
justify-content: space-around;
align-items: center;
padding: 0;
}
.footer_listado_ul li{
  list-style: none;
}
.footer_listado_ul li i{
  padding-left: 15px;
  font-size: 25px;
}
.footer_raya{
  display: flex;
  padding: 20px;
  border-top: solid 1px
  gray;
  margin-top: 150px;
}
.footer.contenido {
  margin:20px;
}
.footer_ul_listado{
  padding: 0;
 line-height: 33px;
}
.footer_ul_listado li{
  line-height: 33px;
  list-style: none;
}
.footer_link{
  text-decoration: none;
}

@media (min-width: 768px){  
  .header_listado{
    list-style: none;
display: flex;
align-items: center;
padding: 0px;
    padding-left: 0px;
padding-left: 0px;
padding-left: 26px;
width: 100%;
justify-content: space-between;
padding-right:10px;
  }

}

@media (min-width:992px) {  

 

 }