doctype html
html(lang="es")
  head
    title titulo
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="css/all.css")
    link(rel="stylesheet", href="estilo.css")

  body
    header
      div.header_contenido

        div.menu_amburguesa
          div.menu_raya
          div.menu_raya
          div.menu_raya

        div.header_iconos
          ul.header_listado  
            li
              i.fab.fa-sistrix.icono_uno

            li
              img.header_imagen(src="imagenes/RE1Mu3b.png", alt="")

            li
              i.fas.fa-user-circle.icono_dos 

      